### This notebook is just merging and cleaning the XML and API Call data Set

- So we are finally getting the complete data set, with as many feature we have been requested for

In [2]:
import pandas as pd

In [2]:
dfXML = pd.read_csv("../OpportunityHack/Data/XML_Data_IRS_2023_Main.csv")
dfAPI = pd.read_csv("../OpportunityHack/Data/Final_API_Data.csv")

In [3]:
dfXML.head(5)

,EIN,Gross_Revenue,Total_Expenses,Net_Revenue,Tax_Period_Year,Form Type,Name_1,Title_1,Name_2,Title_2,Name_3,Title_3,Salaries_Directors,Other_Salaries,Other_Employee_Benefits,Total_People,Total_Average_Salaries
0,376048221,84374,71055,13319,2023,990EZ,RYAN REISS,PRESIDENT,HEATHER SPEARS,TREASURER,KEITH PILGER,VICE PRES (B,NaN,NaN,NaN,NaN,NaN
1,272829777,18687,16384,2303,2023,990EZ,ADAM LEADER,PRESIDENT,TREY COBB,VICE PRESIDENT,KYLE LYNCH,SECRETARY,NaN,NaN,NaN,NaN,NaN
2,610902722,-303421,1082182,-1385603,2023,990,CHARLES SEXTON,ARTISTIC DIR,ANGELA MCCORKLE BUCKLER,VICE PRESIDE,JOE LEGEL CPA,TREASURER,74090.0,579005.0,30352.0,26.0,26286.423077
3,232931489,2897,586336,-583439,2023,990,JOE ROBINSON,TRUSTEE,PAUL STOOPS,TRUSTEE,NATHAN HAWBAKER,TRUSTEE,NaN,381556.0,15117.0,32.0,NaN
4,742159454,-430835,3674840,-4105675,2023,990,James Shofner,Chief/President,Keith Farris,"Asst. Chief/VP,Treasurer",Justin Whitaker,Paid Representative,192163.0,2375061.0,NaN,30.0,NaN

In [4]:
dfAPI.head(5)

,EIN_value,Name,Gross_Revenue,Tax_Period_Year,PDF_URL,City,State,NTEE_Code,Net_Revenue,Form_Type
0,376048221,Little League Baseball Inc,0,2021,NaN,Beardstown,IL,NaN,0,1
1,272829777,Maryland State Association Of Baseball Coaches...,0,2021,NaN,Essex,MD,N03,0,1
2,610902722,Commonwealth Theatre Center Inc,1131192,2021,https://projects.propublica.org/nonprofits/dow...,Louisville,KY,A65,148178,0
3,232931489,Mont Alto Ambulance Association Mont Alto Ambu...,699332,2021,NaN,Mont Alto,PA,NaN,95753,0
4,742159454,Sam Bass Volunteer Fire Department Inc,2279285,2021,NaN,Round Rock,TX,M24,-754294,0

In [5]:
dfAPI.columns

Index(['EIN_value', 'Name', 'Gross_Revenue', 'Tax_Period_Year', 'PDF_URL',
       'City', 'State', 'NTEE_Code', 'Net_Revenue', 'Form_Type'],
      dtype='object')

In [6]:
dfFilterAPI = dfAPI[['EIN_value', 'Name', 'PDF_URL', 'NTEE_Code', 'State', 'City']]

In [7]:
dfFilterAPI.head()

,EIN_value,Name,PDF_URL,NTEE_Code,State,City
0,376048221,Little League Baseball Inc,NaN,NaN,IL,Beardstown
1,272829777,Maryland State Association Of Baseball Coaches...,NaN,N03,MD,Essex
2,610902722,Commonwealth Theatre Center Inc,https://projects.propublica.org/nonprofits/dow...,A65,KY,Louisville
3,232931489,Mont Alto Ambulance Association Mont Alto Ambu...,NaN,NaN,PA,Mont Alto
4,742159454,Sam Bass Volunteer Fire Department Inc,NaN,M24,TX,Round Rock

In [8]:
dfMerge = dfFilterAPI.merge(dfXML, left_on='EIN_value', right_on='EIN', how='left')

dfMerge = dfMerge.drop(columns=['EIN'])

In [9]:
dfMerge

,EIN_value,Name,PDF_URL,NTEE_Code,State,City,Gross_Revenue,Total_Expenses,Net_Revenue,Tax_Period_Year,...,Title_1,Name_2,Title_2,Name_3,Title_3,Salaries_Directors,Other_Salaries,Other_Employee_Benefits,Total_People,Total_Average_Salaries
0,376048221,Little League Baseball Inc,NaN,NaN,IL,Beardstown,84374,71055,13319,2023,...,PRESIDENT,HEATHER SPEARS,TREASURER,KEITH PILGER,VICE PRES (B,NaN,NaN,NaN,NaN,NaN
1,272829777,Maryland State Association Of Baseball Coaches...,NaN,N03,MD,Essex,18687,16384,2303,2023,...,PRESIDENT,TREY COBB,VICE PRESIDENT,KYLE LYNCH,SECRETARY,NaN,NaN,NaN,NaN,NaN
2,610902722,Commonwealth Theatre Center Inc,https://projects.propublica.org/nonprofits/dow...,A65,KY,Louisville,-303421,1082182,-1385603,2023,...,ARTISTIC DIR,ANGELA MCCORKLE BUCKLER,VICE PRESIDE,JOE LEGEL CPA,TREASURER,74090.0,579005.0,30352.0,26.0,26286.423077
3,232931489,Mont Alto Ambulance Association Mont Alto Ambu...,NaN,NaN,PA,Mont Alto,2897,586336,-583439,2023,...,TRUSTEE,PAUL STOOPS,TRUSTEE,NATHAN HAWBAKER,TRUSTEE,NaN,381556.0,15117.0,32.0,NaN
4,742159454,Sam Bass Volunteer Fire Department Inc,NaN,M24,TX,Round Rock,-430835,3674840,-4105675,2023,...,Chief/President,Keith Farris,"Asst. Chief/VP,Treasurer",Justin Whitaker,Paid Representative,192163.0,2375061.0,NaN,30.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164844,133794212,Childrens Hearing Institute Inc,https://projects.propublica.org/nonprofits/dow...,G124,NY,New York,-148144,268920,-417064,2023,...,CHAIRMAN EMERITUS,SIMON C PARISIER MD,PRESIDENT/FOUNDER,ELAINE S PARISIER,"FOUNDER, SECRETARY",130666.0,NaN,4687.0,1.0,NaN
164845,161540792,Golf Course Superintendents Association Of New...,NaN,NaN,NY,N Tonawanda,110896,111488,-592,2023,...,President,Joseph Lucas,Vice President,Nevin Hess,Treasurer,NaN,NaN,NaN,NaN,NaN
164846,421231996,Virginia Gay Hospital Inc,https://projects.propublica.org/nonprofits/dow...,E22Z,IA,Vinton,1128148,34205704,-33077556,2023,...,Director,Dr Erica Silbernagel DO,Family Medicine,Dr Michelle Elgin DO,Director,1346578.0,14423766.0,1399031.0,389.0,44137.210797
164847,20172300,Business And Industry Association Of Nh,NaN,NaN,NH,Concord,43767,1427112,-1383345,2023,...,CHAIR,JOHN KACAVAS,CHAIR-ELECT,SHERYL MCQUADE,PAST-CHAIR,189845.0,734564.0,61635.0,9.0,109560.444444
164848,593066936,Tomoka Heights Activities Organization,NaN,L50,FL,Lake Placid,66345,57407,8938,2023,...,CHAIRMAN,WENDY DEAN,1ST VICE CHA,LINDA DRUMM,2ND VICE CHA,NaN,NaN,NaN,NaN,NaN

In [8]:
dfMerge_Foundations = pd.read_csv("../OpportunityHack/Data/merged_out.csv")
dfExtract = pd.read_csv("../OpportunityHack/Data/extracted_data.csv")

In [6]:
dfMerge_Foundations.columns

Index(['EIN_value', 'Name', 'Gross_Revenue', 'Tax_Period_Year', 'PDF_URL',
       'City', 'State', 'NTEE_Code', 'Net_Revenue', 'Form_Type'],
      dtype='object')

In [9]:
dfExtract.columns

Index(['EIN_value', 'FormAndInfoAndMaterialsTxt', 'RecipientPersonNm',
       'SubmissionDeadlinesTxt', 'RestrictionsOnAwardsTxt',
       'OnlyContriToPreselectedInd', 'CurrentYearGrantAmount'],
      dtype='object')

In [10]:
dfMerge_Foundations = dfMerge_Foundations[["EIN_value", "Name", "State", "City", "NTEE_Code"]]

In [11]:
dfNewMerge = dfMerge_Foundations[["EIN_value", "Name", "State", "City", "NTEE_Code"]].merge(dfExtract, on="EIN_value", how="inner")

In [12]:
dfNewMerge

,EIN_value,Name,State,City,NTEE_Code,FormAndInfoAndMaterialsTxt,RecipientPersonNm,SubmissionDeadlinesTxt,RestrictionsOnAwardsTxt,OnlyContriToPreselectedInd,CurrentYearGrantAmount
0,561735521,John Shaw Tillman And Anna Walters Tillman Sch...,NC,Asheboro,NaN,WRITTEN APPLICATION FORM,AMBER WALKER CHAIRPERSON ASHEBORO H,PRIOR TO APRIL 30 OF EACH SCHOOL YEAR,ONE ASHEBORO HIGH SCHOOL MALE AND ONE ASHEBORO...,no,NaN
1,271586209,Newmarket Foundation,VA,Richmond,T20,For Matching Gifts: 3 Part Form completed by e...,BRUCE HAZELGROVE III,September 2022,For Matching Gifts: Non profit educational ins...,no,NaN
2,261175028,Gpk Foundation,TX,Buda,T22,NONE,KATI L CESARIO,NONE,501(C)(3) CHARITABLE ORGANIZATIONS,no,NaN
3,10793830,Stroud Foundation,IL,Oak Brook,T20,No Formal Application Required. A Request in L...,Joseph A Stroud President,NaN,NaN,no,NaN
4,730768139,The Reuel And Oteka Little Family Foundation,OK,Madill,NaN,APPLICANTS SUBMIT LETTER FROM DR/CLINIC STATIN...,DAN V LITTLE,NONE,AMOUNTS AWARDED ARE FOR MEDICAL COSTS OR EXPEN...,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4864,311090015,J Brannon Hull Scholarship Fund Inc,OH,Crooksville,NaN,COMPLETED APPLICATION FROM FUND OFFFICE,J BRANNON HULL SCHOLARSHIP FUND,BETWEEN JANUARY 15 AND MARCH 15 EACH YEAR,GRADUATE OF CROOKSVILLE HIGH SCHOLL OR A DESCE...,no,NaN
4865,421354458,Tonja Rickert Memorial Trust Scholarship,IA,Traer,NaN,NO APPLICATION FORM IS REQUIRED. THE BENFICIAR...,NORTH TAMA COMMUNITY SCHOOL,NO APPLICATION DEADLINE,NaN,no,NaN
4866,251867007,Catherine Hayes Nelson M D Scholarships Inc,PA,State College,B82,NaN,Catherine Hayes Nelson Scholarship,NaN,NaN,no,NaN
4867,833500350,Steve And Patty Harrison Foundation,OK,Mcalester,P20,Submit in writing describe project cost timing...,STEVE AND PATTY HARRISON FOUNDATION,Requests accepted without deadlines,Support determined on case by case consistent ...,no,NaN
4868,222766316,Richard And Sylvia Van Cleave Foun Dation,NJ,Cedar Grove,NaN,LETTER REQUEST,NaN,NONE,NONE,no,NaN